<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="fonts/opensans.css">
		<link rel="stylesheet" href="style.css">
		<title>Nikó – Web3 frontend</title>
	</head>
	<body>
		
		
		<script src="lib/js-yaml.min.js"></script>
		<script src="lib/vue.min.js"></script>
		
		<script src="stack-raw.js"></script>
		
		<script src="avatar.js"></script>
		
		<section>
			<div class="page-top">
				<div class="top-left">
					<div id="avatar-place">
						<div id="avatar"></div>
					</div>
				</div>
				<div class="top-right">
					<h1>Nikó</h1>
					<div class="specialization">Web3 frontend</div>
					<div class="info-item">
						<span class="icon-location"></span>
						<span class="value">Remote / ready to relocation</span>
					</div>
					<div class="info-item">
						<span class="icon-github"></span>
						<span class="value"><a href="https://github.com/iower" target="_blank">iower</a></span>
					</div>
					<div class="info-item">
						<span class="icon-email"></span>
						<span class="value"><a href="mailto:iower@tutanota.com">iower@tutanota.com</a></span>
					</div>
				</div>
			</div>
		</section>
		
		<div class="subheader">
			<h2>I love making crypto startups</h2>
		</div>
		<section>
			<ul>
				<li>Sep `18 – Aug `19&nbsp;&nbsp;&nbsp;benice.tools&nbsp;&nbsp;&nbsp;&nbsp;Tg bot for Binance with trade mirroring</li>
				<li>Oct `19 – Apr `20&nbsp;&nbsp;&nbsp;&nbsp;credentia.me&nbsp;&nbsp;&nbsp;&nbsp;Verifiable credentials on-chain</li>
				<li>Jul `20 – May `21&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://swaponline.io/" target="_blank">swaponline.io</a>&nbsp;&nbsp;&nbsp;&nbsp;Multicurrency wallet and atomic swap exchange</li>
				<li>Oct `21 – Feb `22&nbsp;&nbsp;&nbsp;webill.io</a>&nbsp;&nbsp;&nbsp;&nbsp;Landing for cross-chain selling of third-party NFT's</li>
				<li>Jan `22 – Jan `23&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://via.exchange/" target="_blank">via.exchange</a>&nbsp;&nbsp;&nbsp;&nbsp;The most efficient DEX/bridges aggregator</li>
				<li>Jan `23 – Apr `23&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.hq.leto.xyz/" target="_blank">leto.xyz</a>&nbsp;&nbsp;&nbsp;&nbsp;Non-custodial UX-first wallet for crypto-beginners</li>
			</ul>
		</section>

		<div class="subheader">
			<h2>My stack state</h2>
		</div>
		
		<section>
			<div id="stack">
				
				<div class="settings">
					<!--
					<div class="checkbox">
						<input type="checkbox" id="only-important" v-model="onlyImportant">
						<label for="only-important">Only important</label>
						<div class="label">Only important</div>
					</div>
					-->
					<div class="checkbox">
						<input type="checkbox" id="show-examples" v-model="showExamples">
						<label for="show-examples">Show examples</label>
						<div class="label">Show examples</div>
					</div>
					<div class="checkbox">
						<input type="checkbox" id="show-interests" v-model="showInterests">
						<label for="show-interests">Show interests</label>
						<div class="label">Show interests</div>
					</div>
					<!-- <div class="checkbox">
						<input type="checkbox" id="show-recommendations" v-model="showRecommendations">
						<label for="show-recommendations">Show my recommendations</label>
						<div class="label">Show my recommendations</div>
					</div> -->
				</div>
				
				<div class="layer" v-for="layer in stackData">
					<h3 class="layer-title" >{{ layer.title }}</h3>
					<div class="layer-inner">
						<ul
							class="layer-items"
							:class="`items-${layer.items.filter(item => showInterests ? true : item.status != 'interested').length}`">
							<li
								class="layer-item"
								:class="{interested: item.status == 'interested'}"
								v-for="item in layer.items"
								v-if="!(item.status == 'interested' && !showInterests)"
							>
								<div class="item-title">{{ item.title }}</div>
								<transition name="fade">
									<div class="examples" v-if="showExamples">
										<div class="example" v-for="example in item.examples">
											<span class="icon-example"></span>
											<a
												v-if="example.url"
												class="example-link"
												:href="example.url"
												target="_blank"
											>{{ example.title }}</a>
											<span v-else class="example-title">{{ example.title }}</span>
										</div>
									</div>
								</transition>
								<div class="interested-label" v-if="item.status == 'interested'">Interested</div>
							</li>
						</ul>
					</div>
				</div>
				
			</div>
		</section>
		<!--<h2>Unrelated pet projects</h2>
		...
		-->
		
		<div class="subheader">
			<h2>Looking back</h2>
		</div>
		<section>
			<ul>
				<li>2003 – first program written</li>
				<li>2006 – first markup written</li>
				<li>2011 – first manual crypto trade</li>
				<li>2015 – first commerical program</li>
				<li>2016 – first share mined</li>
				<li>2018 – first github commit</li>
				<li>2019 – first automated crypto-trade</li>
			</ul>
		</section>
		
		<script>
			const stackData = jsyaml.load(stackRaw);
			
			const app = new Vue({
				el: '#stack',
				data: {
					stackData,
					onlyImportant: true,
					showExamples: false,
					showInterests: false,
					showRecommendations: false,
				},
			});
			
			
			setInterval(() => {
				
				const avatarGlitched = [...avatar];
				
				for (let i = 0; i < 6; i++) {
					const rowNumber = Math.floor(Math.random() * avatarGlitched.length);
					const rowLength = avatarGlitched[rowNumber].length;
					avatarGlitched[rowNumber] = '@'.repeat(rowLength);
				}
				
				document.getElementById('avatar').innerText = avatarGlitched.join('\n');
				
			}, 100);
			
			
			
		</script>
		
	</body>
</html>
